.footer-section{
    font-family: netflix-sans-light;
    padding: 40px 0px;
}
.heading-container{
    margin: 30px 200px;
}
.footer-wrapper{
    display : flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.footer-col{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.heading{
    font-size: 15px;
}
.footer-end{
    font-size: 15px;
}