.footer-home-section{
    font-family: netflix-sans-light;
    padding: 40px 0px 20px 0px;
}
.footer-heading-container{
    margin: 30px 170px;
    max-width: 850px;
}
.footer-home-wrapper{
    display : flex;
    justify-content: space-between;
}
.footer-home-col{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-home-end{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    font-size: 11.5px;
} 
.heading-twitter, .heading-youtube{
    font-size: 28px;
    
}
.footer-social-links{
    display: flex;
    align-items: center;
    gap : 25px;
    font-size: 22px;
    padding: 10px;
}
.heading-twitter, .heading-youtube, .heading-facebook, .heading-instagram{
    color: white;
    text-decoration: none;
}
.service-code{
    font-family: netflix-sans-light;
    background: transparent;
    border: 1px solid rgb(94, 94, 94);
    padding: 8px 8px;
    color: rgb(94, 94, 94);
    font-size: 13px;
    margin-top : 30px;
}
.service-code:hover{
    color: white;
}