.navbar-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding : 5px 40px 5px;
    position: fixed;
    -webkit-transition: background-color 1s ease;
    top: 0;
    z-index: 5;
}
.scroll{
    background-color: black;
    -webkit-transition: background-color 1s ease;
}
