.accordian-component{
    color: white;
    max-width: 1000px;
    margin: auto;
    padding: 20px 40px;
}
.accordian-heading{
    font-size: 2.75rem;
    line-height: 1.1;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}