body{
    background-image: url(../../../../../../public/images/home/home-page-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    height: 100vh;
}
.billboard-container{

}
.billboard-title-img{

}
.billboard-desc{

}
.play-button{

}
.more-info-button{

}
.play-btn-icon{

}
.more-info-btn-icon{
    
}