.top-10-container{
    display: flex;
    align-items: center;
    gap : 10px;
}
.top-10-icon {
    width: 30px;
    height: fit-content;
}
.top-rank{
    color: white;
    font-size: 20px;
}
.billboard-container{
    padding-top: 100px;
    margin-left: 55px;
    padding-bottom: 70px;
    max-width : 450px;
}
.billboard-title-img{
    max-width : 650px;
    padding-top: 20px;
    margin-bottom : 10px;
}
.billboard-desc{
    color : rgb(234, 234, 234);
    font-size : 16px;
    font-family: netflix-sans-light;
}
.play-button{
    margin : 5px 6px 5px 0px;
    background-color: white;
    font-size: 16.5px;
    font-family: netflix-sans-medium;
    display: flex;
    align-items: center;
    padding-left: 13px;
    padding-right: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.play-button:hover {
    opacity: 0.65;
}
.more-info-button:hover {
    background-color: rgba(121, 121, 121, 0.3) ;
}
.more-info-button{
    margin : 4px 4px;
    font-size: 16.5px;
    font-family: netflix-sans-medium;
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-right: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-color: rgba(121, 121, 121, 0.65) ;    
    cursor: pointer;
}
.play-btn-icon{
    font-size: 38px;
    padding-right: 4px;
    
}
.more-info-btn-icon{
    font-size: 27px;
    padding-right: 9px;
}
.btn-container {
    display: flex;
}