@font-face {
  font-family: netflix-sans;
  src: url(../public/NetflixSans-Regular.otf);
}
body {
  margin: 0;
  font-family: netflix-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
