.header-wrapper{
    background-image: url('../../../../../public/images/home/Netflix-Background.jpg');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    padding: 0px 50px 100px 50px;
}